
 <img src="https://c.tenor.com/8p2VmmhyIVgAAAAM/red-bean-azuki.gif" alt="ether" width="100%"/>

# ðŸŽ´ Azuki Analysis

In [1]:
# Import dependancies
import os
import requests
import pandas as pd
import json
from dotenv import load_dotenv
from etherscan_py import etherscan_py

In [2]:
from covalent_api.constants.maps import *
from covalent_api import constants
from covalent_api.session import Session
from covalent_api.pricing import *
from covalent_api import class_a
from covalent_api.class_b import *

In [3]:
load_dotenv()

True

In [4]:
# create variable for api key 
API_KEY = os.getenv('COVALENT_API_KEY')
type(API_KEY)

str

## ðŸŽ° Getting token IDs

In [5]:
# Append url for our api
url = "https://api.covalenthq.com/v1"
chain_id = "/1"

# Add search queries to api url
contract_address = "/0xED5AF388653567Af2F388E6224dC7C4b3241C544"
api_key = "/?key=" + API_KEY

url_tokens = url + chain_id + "/tokens" + contract_address + "/nft_token_ids" + api_key #+ "&format=csv"

# Create variale for our requests data
nft_tokens = requests.get(url_tokens).json()

# Display dataframe
token_IDS = pd.DataFrame(nft_tokens['data']['items'])

# token_IDS = token_IDS.set_index()
token_IDS = pd.DataFrame(token_IDS, columns = ['token_id','contract_name'])
display(token_IDS.head())
display(token_IDS.tail())

  token_id contract_name
0        0         Azuki
1        1         Azuki
2        2         Azuki
3        3         Azuki
4        4         Azuki

     token_id contract_name
9995     9995         Azuki
9996     9996         Azuki
9997     9997         Azuki
9998     9998         Azuki
9999     9999         Azuki

## NFT Metadata

In [6]:
chain_id= '/1'
address = '/0xED5AF388653567Af2F388E6224dC7C4b3241C544'
token_id = '/199'

metadata_url = url + chain_id + "/tokens" + address + "/nft_metadata" + token_id + api_key #+ "&format=csv"

# Create variale for our requests data
nft_data = requests.get(metadata_url).json()

nft_metadata = pd.DataFrame(nft_data['data']['items'][0]['nft_data'], columns = ['token_id','owner', 'burned'])

nft_metadata.head()

  token_id                                       owner  burned
0      199  0x32fc55218a0a4263d2ca23712c6264cc6840213b   False

In [7]:
token_id = 0


owner_url = url + chain_id + "/tokens" + address + "/nft_metadata" + '/' + str(token_id) + api_key
owner_data = requests.get(owner_url).json()

#
df = pd.DataFrame(owner_data['data']['items'][0]['nft_data'])

# Valriable for columns
new_df_columns = df.columns

In [8]:
new_df_columns

Index(['token_id', 'token_balance', 'token_url', 'supports_erc',
       'token_price_wei', 'token_quote_rate_eth', 'original_owner',
       'external_data', 'owner', 'owner_address', 'burned'],
      dtype='object')

In [9]:
token_owners = pd.DataFrame(columns = new_df_columns)
token_owners

Empty DataFrame
Columns: [token_id, token_balance, token_url, supports_erc, token_price_wei, token_quote_rate_eth, original_owner, external_data, owner, owner_address, burned]
Index: []

In [10]:
# for loop and adding data into empy new_df dataframe
for token_id in range(0,10):
    owner_url = url + chain_id + "/tokens" + address + "/nft_metadata" + '/' + str(token_id) + api_key
    owner_data = requests.get(owner_url).json()
    df = pd.DataFrame(owner_data['data']['items'][0]['nft_data'])
    token_owners.loc[token_id] = [df['token_id'], df['token_balance'], df['token_url'], df['supports_erc'],
       df['token_price_wei'], df['token_quote_rate_eth'], df['original_owner'],
       df['external_data'], df['owner'], df['owner_address'], df['burned']]

In [11]:
token_owners

,token_id,token_balance,token_url,supports_erc,token_price_wei,token_quote_rate_eth,original_owner,external_data,owner,owner_address,burned
0,"0 0 Name: token_id, dtype: object","0 1 Name: token_balance, dtype: object",0 https://azuki-prereveal.s3-us-west-1.amaz...,"0 [erc20, erc721] Name: supports_erc, dtype...","0 None Name: token_price_wei, dtype: object","0 None Name: token_quote_rate_eth, dtype: o...",0 0xd45058bf25bbd8f586124c479d384c8c708ce23...,"0 {'name': 'Azuki #0', 'description': None,...",0 0xd45058bf25bbd8f586124c479d384c8c708ce23...,0 0xd45058bf25bbd8f586124c479d384c8c708ce23...,"0 False Name: burned, dtype: bool"
1,"0 1 Name: token_id, dtype: object","0 1 Name: token_balance, dtype: object",0 https://azuki-prereveal.s3-us-west-1.amaz...,"0 [erc20, erc721] Name: supports_erc, dtype...","0 None Name: token_price_wei, dtype: object","0 None Name: token_quote_rate_eth, dtype: o...",0 0xd45058bf25bbd8f586124c479d384c8c708ce23...,"0 {'name': 'Azuki #1', 'description': None,...",0 0xd45058bf25bbd8f586124c479d384c8c708ce23...,0 0xd45058bf25bbd8f586124c479d384c8c708ce23...,"0 False Name: burned, dtype: bool"
2,"0 2 Name: token_id, dtype: object","0 1 Name: token_balance, dtype: object",0 https://azuki-prereveal.s3-us-west-1.amaz...,"0 [erc20, erc721] Name: supports_erc, dtype...","0 None Name: token_price_wei, dtype: object","0 None Name: token_quote_rate_eth, dtype: o...",0 0xd45058bf25bbd8f586124c479d384c8c708ce23...,"0 {'name': 'Azuki #2', 'description': None,...",0 0xd45058bf25bbd8f586124c479d384c8c708ce23...,0 0xd45058bf25bbd8f586124c479d384c8c708ce23...,"0 False Name: burned, dtype: bool"
3,"0 3 Name: token_id, dtype: object","0 1 Name: token_balance, dtype: object",0 https://azuki-prereveal.s3-us-west-1.amaz...,"0 [erc20, erc721] Name: supports_erc, dtype...","0 None Name: token_price_wei, dtype: object","0 None Name: token_quote_rate_eth, dtype: o...",0 0xd45058bf25bbd8f586124c479d384c8c708ce23...,"0 {'name': 'Azuki #3', 'description': None,...",0 0x645d2b4bfb047566ff60e2e7112373885935eac...,0 0x645d2b4bfb047566ff60e2e7112373885935eac...,"0 False Name: burned, dtype: bool"
4,"0 4 Name: token_id, dtype: object","0 1 Name: token_balance, dtype: object",0 https://azuki-prereveal.s3-us-west-1.amaz...,"0 [erc20, erc721] Name: supports_erc, dtype...","0 None Name: token_price_wei, dtype: object","0 None Name: token_quote_rate_eth, dtype: o...",0 0xd45058bf25bbd8f586124c479d384c8c708ce23...,"0 {'name': 'Azuki #4', 'description': None,...",0 0xd45058bf25bbd8f586124c479d384c8c708ce23...,0 0xd45058bf25bbd8f586124c479d384c8c708ce23...,"0 False Name: burned, dtype: bool"
5,"0 5 Name: token_id, dtype: object","0 1 Name: token_balance, dtype: object",0 https://azuki-prereveal.s3-us-west-1.amaz...,"0 [erc20, erc721] Name: supports_erc, dtype...","0 None Name: token_price_wei, dtype: object","0 None Name: token_quote_rate_eth, dtype: o...",0 0xd45058bf25bbd8f586124c479d384c8c708ce23...,"0 {'name': 'Azuki #5', 'description': None,...",0 0x355671aa122887c1b349a84ee79805e22e62f4f...,0 0x355671aa122887c1b349a84ee79805e22e62f4f...,"0 False Name: burned, dtype: bool"
6,"0 6 Name: token_id, dtype: object","0 1 Name: token_balance, dtype: object",0 https://azuki-prereveal.s3-us-west-1.amaz...,"0 [erc20, erc721] Name: supports_erc, dtype...","0 None Name: token_price_wei, dtype: object","0 None Name: token_quote_rate_eth, dtype: o...",0 0xd45058bf25bbd8f586124c479d384c8c708ce23...,"0 {'name': 'Azuki #6', 'description': None,...",0 0xd45058bf25bbd8f586124c479d384c8c708ce23...,0 0xd45058bf25bbd8f586124c479d384c8c708ce23...,"0 False Name: burned, dtype: bool"
7,"0 7 Name: token_id, dtype: object","0 1 Name: token_balance, dtype: object",0 https://azuki-prereveal.s3-us-west-1.amaz...,"0 [erc20, erc721] Name: supports_erc, dtype...","0 None Name: token_price_wei, dtype: object","0 None Name: token_quote_rate_eth, dtype: o...",0 0xd45058bf25bbd8f586124c479d384c8c708ce23...,"0 {'name': 'Azuki #7', 'description': None,...",0 0xd45058bf25bbd8f586124c479d384c8c708ce23...,0 0xd45058bf25bbd8f586124c479d384c8c708ce23...,"0 False Name: burned, dtype: bool"
8,"0 8 Name: token_id, dtype: object","0 1 Name: token_balance, dtype: object",0 https://azuki-prereveal.s3-us-west-1.amaz...,"0 [erc20, erc721] Name: supports_erc, dtype...","0 None Name: token_price_wei, dtype: object","0 None Name: token_quote_rate_eth, dtype: o...",0 0xd45058bf25bbd8f586124c479d384c8c708ce23...,"0 {'name': 'Azuki #8', 'description': None,...",0 0xd45058bf25bbd8f586124c479d384c8c708ce23...,0 0xd45058bf25bbd8f586124c479d384c8c708ce23...,"0 False Name: burned, dtype: bool"
9,"0 9 Name: token_id, dtype: object","0 1 Name: token_balance, dtype: object",0 https://azuki-prereveal.s3-us-west-1.amaz...,"0 [erc20, erc721] Name: supports_erc, dtype...","0 None Name: token_price_wei, dtype: object","0 None Name: token_quote_rate_eth, dtype: o...",0 0xd45058bf25bbd8f586124c479d384c8c708ce23...,"0 {'name': 'Azuki #9', 'description': None,...",0 0xd45058bf25bbd8f586124c479d384c8c708ce23...,0 0xd45058bf25bbd8f586124c479d384c8c708ce23...,"0 False Name: burned, dtype: bool"

In [58]:
pd.DataFrame(owner_data['data']['items'][0]['nft_data'])

,token_id,token_balance,token_url,supports_erc,token_price_wei,token_quote_rate_eth,original_owner,external_data,owner,owner_address,burned
0,0,1,https://azuki-prereveal.s3-us-west-1.amazonaws...,"[erc20, erc721]",None,None,0xd45058bf25bbd8f586124c479d384c8c708ce23a,"{'name': 'Azuki #0', 'description': None, 'ima...",0xd45058bf25bbd8f586124c479d384c8c708ce23a,0xd45058bf25bbd8f586124c479d384c8c708ce23a,False

In [46]:
url = owner_url

def request_function(j):
    return requests.post(url,json = json.loads(j))['c'] 

token_IDS['test_owner'] = '{"owner:"' + owner_data['data']['items'][0]['nft_data'][0]['owner'] + '}'
token_IDS

         contract_name test_owner
token_id
0                Azuki        NaN
1                Azuki        NaN
2                Azuki        NaN
3                Azuki        NaN
4                Azuki        NaN
...                ...        ...
9995             Azuki        NaN
9996             Azuki        NaN
9997             Azuki        NaN
9998             Azuki        NaN
9999             Azuki        NaN

[10000 rows x 2 columns]

In [38]:
owner_data['data']['items'][0]['nft_data'][0]['owner']

'0xd45058bf25bbd8f586124c479d384c8c708ce23a'

## Historical data

In [25]:
collection_address = '/0xED5AF388653567Af2F388E6224dC7C4b3241C544'

historical_url = url + chain_id + "/nft_market/collection" + collection_address + api_key # + '&page-size=100&page-number=0'
historical = requests.get(historical_url).json()

historical_df = pd.DataFrame(historical['data']['items'])

historical_df = historical_df.set_index('opening_date')

azuki_vol_df = pd.DataFrame(historical_df, columns = ['volume_quote_day', 'average_volume_quote_day', 'unique_token_ids_sold_count_day'])

volume_eth_day = []
for wei in historical_df['volume_wei_day']:
    eth = int(wei)/100000000000000000
    volume_eth_day.append(eth)
avg_volume_eth_day = []
for wei in historical_df['average_volume_wei_day']:
    eth = int(wei)/100000000000000000
    avg_volume_eth_day.append(eth)
floor_price_eth_7d = []
for wei in historical_df['floor_price_wei_7d']:
    eth = int(wei)/100000000000000000
    floor_price_eth_7d.append(eth)


azuki_vol_df['volume_eth_day'] = volume_eth_day 
azuki_vol_df['avg_volume_eth_day'] = avg_volume_eth_day
azuki_vol_df['floor_price_eth_7d'] = floor_price_eth_7d

azuki_vol_df

,volume_quote_day,average_volume_quote_day,unique_token_ids_sold_count_day,volume_eth_day,avg_volume_eth_day,floor_price_eth_7d
opening_date,,,,,,
2022-04-06,3508797.8,113187.020,27,10477.800000,337.993548,399.328829
2022-04-05,3729874.8,106567.840,34,10681.880000,305.196571,396.006765
2022-04-04,4517060.5,110172.210,40,12880.587900,314.160680,389.024154
2022-04-03,9899117.0,116460.200,64,28465.407206,334.887144,381.498421
2022-04-02,24722180.0,124232.060,193,71202.109900,357.799547,376.416153
...,...,...,...,...,...,...
2022-01-16,295638336.0,188906.300,368,879319.020125,561.865189,198.025069
2022-01-15,4408686.0,8712.817,499,13253.985290,26.193647,112.037484
2022-01-14,168151840.0,115409.630,470,513914.275100,352.720848,119.139672
2022-01-13,25129178.0,15174.624,1318,74858.009615,45.204112,46.092285
2022-01-12,45941404.0,15298.503,2402,139885.946569,46.582067,46.582067

In [63]:
from etherscan_py import etherscan_py
client = etherscan_py.Client(os.getenv('ETHERSCAN_API'))

print(client.get_eth_price())
print(client.get_latest_block_height())

2830.01
14685613

In [44]:
collection_address = '/0xED5AF388653567Af2F388E6224dC7C4b3241C544'

trans_url = url + chain_id + "/address" + collection_address + '/transactions_v2' + api_key
trans = requests.get(trans_url).json()

trans_df = pd.DataFrame(trans['data']['items'])
trans_df

,block_signed_at,block_height,tx_hash,tx_offset,successful,from_address,from_address_label,to_address,to_address_label,value,value_quote,gas_offered,gas_spent,gas_price,fees_paid,gas_quote,gas_quote_rate,log_events
0,2022-04-30T10:04:36Z,14684964,0x8c9b7bd7cf33a3e8752b9189739dd1e34c2f92f28431...,70,True,0xae6b65be7a4bdf1267baa6b108860bcd75b14492,None,0xed5af388653567af2f388e6224dc7c4b3241c544,None,0,0.0,67180,62380,26564074667,1657066977727460,4.688233,2829.235840,"[{'block_signed_at': '2022-04-30T10:04:36Z', '..."
1,2022-04-30T10:00:51Z,14684946,0xb14c77a8628cb9ae21a1367290f5621e4da4c6ae277e...,49,True,0x41ef1077045a39ffa20e5d74cc996fd8a4fef302,None,0xed5af388653567af2f388e6224dc7c4b3241c544,None,0,0.0,67180,62380,35908681165,2239983531072700,6.337442,2829.235840,"[{'block_signed_at': '2022-04-30T10:00:51Z', '..."
2,2022-04-30T10:00:21Z,14684944,0x6760ffc633c95178eacc89332d2ea3009c7b2ec35606...,57,True,0xe17e4577fd386012876416965de4c8f4bc28ec47,None,0xed5af388653567af2f388e6224dc7c4b3241c544,None,0,0.0,67180,62380,36625260278,2284683736141640,6.463909,2829.235840,"[{'block_signed_at': '2022-04-30T10:00:21Z', '..."
3,2022-04-30T09:58:25Z,14684935,0x815323adbb38137ffb6e6a4e58d1d2974d6cac9855fe...,100,True,0x0ce21fce829ff974fec218cade3905a36232a25b,None,0xed5af388653567af2f388e6224dc7c4b3241c544,None,0,0.0,46189,46189,28167458136,1301026723843704,3.680911,2829.235840,"[{'block_signed_at': '2022-04-30T09:58:25Z', '..."
4,2022-04-30T09:56:48Z,14684925,0x97c40af3914cfda3a73e4f3d5964136a83e42d0182fa...,162,True,0xff58dd6b7b394318123dc190731a2b9d298e6301,None,0xd46c8648f2ac4ce1a1aace620460fbd24f640853,None,0,0.0,268015,213447,33397839529,7128668653946463,20.168685,2829.235840,"[{'block_signed_at': '2022-04-30T09:56:48Z', '..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2022-04-29T18:25:59Z,14680823,0xda59ad23029acc6107735a781ab2393182850045a776...,77,True,0x17a27ae4e9b5975d670c18966561ab3cefb57d7c,None,0xed5af388653567af2f388e6224dc7c4b3241c544,None,0,0.0,50068,45268,64537313079,2921475088460172,8.259773,2827.260986,"[{'block_signed_at': '2022-04-29T18:25:59Z', '..."
96,2022-04-29T18:20:10Z,14680785,0x0c93ac9f125965fd9d112e75f47f9a3b5e9c51e38f61...,88,True,0xeefbfaa71a8eff553dedd6500a2a83c1179bc4a6,None,0x7f268357a8c2552623316e2562d90e642bb538e5,Wyvern Exchange Contract (-),0,0.0,308974,227931,77124899210,17579155401834510,49.700860,2827.260986,"[{'block_signed_at': '2022-04-29T18:20:10Z', '..."
97,2022-04-29T18:19:10Z,14680780,0xf96e468f6595eee4086ecf0aac07918bee985bae0ad8...,46,True,0xeefbfaa71a8eff553dedd6500a2a83c1179bc4a6,None,0xed5af388653567af2f388e6224dc7c4b3241c544,None,0,0.0,46189,46189,76125093645,3516141950368905,9.941051,2827.260986,"[{'block_signed_at': '2022-04-29T18:19:10Z', '..."
98,2022-04-29T18:18:04Z,14680773,0x69f9a3ca52cd367d64630d7fde972b4d0b3fd6334d77...,180,True,0xdf78e3cc4b8bec203e74440ff67e301619b83b75,None,0xed5af388653567af2f388e6224dc7c4b3241c544,None,0,0.0,46189,46189,88556916323,4090355408043047,11.564502,2827.260986,"[{'block_signed_at': '2022-04-29T18:18:04Z', '..."
99,2022-04-29T18:14:05Z,14680761,0xb45e930da9f2f1e955961761dd843a895ef85be53d9b...,390,True,0xcf474bd551eb74d765451ec654022b147dc1a312,None,0xed5af388653567af2f388e6224dc7c4b3241c544,None,0,0.0,69946,65146,59950249707,3905518967412222,11.041921,2827.260986,"[{'block_signed_at': '2022-04-29T18:14:05Z', '..."