
 <img src="https://c.tenor.com/8p2VmmhyIVgAAAAM/red-bean-azuki.gif" alt="ether" width="100%"/>

# ðŸŽ´ Azuki Analysis

In [1]:
# Import dependancies
import os
import requests
import pandas as pd
import json
from dotenv import load_dotenv
from etherscan_py import etherscan_py

In [2]:
from covalent_api.constants.maps import *
from covalent_api import constants
from covalent_api.session import Session
from covalent_api.pricing import *
from covalent_api import class_a
from covalent_api.class_b import *

In [3]:
load_dotenv()

True

In [4]:
# create variable for api key 
API_KEY = os.getenv('COVALENT_API_KEY')
type(API_KEY)

str

## ðŸŽ° Getting token IDs

In [5]:
# Append url for our api
url = "https://api.covalenthq.com/v1"
chain_id = "/1"

# Add search queries to api url
contract_address = "/0xED5AF388653567Af2F388E6224dC7C4b3241C544"
api_key = "/?key=" + API_KEY

url_tokens = url + chain_id + "/tokens" + contract_address + "/nft_token_ids" + api_key #+ "&format=csv"

# Create variale for our requests data
nft_tokens = requests.get(url_tokens).json()

# Display dataframe
token_IDS = pd.DataFrame(nft_tokens['data']['items'])

# token_IDS = token_IDS.set_index()
token_IDS = pd.DataFrame(token_IDS, columns = ['token_id','contract_name'])
display(token_IDS.head())
display(token_IDS.tail())

  token_id contract_name
0        0         Azuki
1        1         Azuki
2        2         Azuki
3        3         Azuki
4        4         Azuki

     token_id contract_name
9995     9995         Azuki
9996     9996         Azuki
9997     9997         Azuki
9998     9998         Azuki
9999     9999         Azuki

## NFT Metadata

In [6]:
chain_id= '/1'
address = '/0xED5AF388653567Af2F388E6224dC7C4b3241C544'
token_id = '/199'

metadata_url = url + chain_id + "/tokens" + address + "/nft_metadata" + token_id + api_key #+ "&format=csv"

# Create variale for our requests data
nft_data = requests.get(metadata_url).json()

nft_metadata = pd.DataFrame(nft_data['data']['items'][0]['nft_data'], columns = ['token_id','owner', 'burned'])

nft_metadata.head()

  token_id                                       owner  burned
0      199  0x32fc55218a0a4263d2ca23712c6264cc6840213b   False

In [7]:
# exploring data
test_token_id = 0
owner_url = url + chain_id + "/tokens" + address + "/nft_metadata" + '/' + str(test_token_id) + api_key
owner_data = requests.get(owner_url).json()

# convert json data to dataframe
# df_test = pd.(owner_data['data']['items'][0]['nft_data'][0])

df_test = pd.DataFrame(owner_data['data']['items'][0]['nft_data'])

# Valriable for columns as list to be used in new token_owner DataFrame
new_df_columns = df_test.columns

In [8]:
type(df_test)

pandas.core.frame.DataFrame

In [9]:
new_df_columns

Index(['token_id', 'token_balance', 'token_url', 'supports_erc',
       'token_price_wei', 'token_quote_rate_eth', 'original_owner',
       'external_data', 'owner', 'owner_address', 'burned'],
      dtype='object')

In [21]:
# Creating a new empty DataFrame to append rows into
token_owners = pd.DataFrame(columns = new_df_columns)
token_owners

Empty DataFrame
Columns: [token_id, token_balance, token_url, supports_erc, token_price_wei, token_quote_rate_eth, original_owner, external_data, owner, owner_address, burned]
Index: []

In [22]:
# Using loop to adding data into empty token_owners dataframe 
for token_id in range(10):
    owner_url = url + chain_id + "/tokens" + address + "/nft_metadata" + '/' + str(token_id) + api_key
    owner_data = requests.get(owner_url).json()
    df = pd.DataFrame(owner_data['data']['items'][0]['nft_data'])
    # pd.concat([token_owners, df], axis = 0)
    token_owners.loc[token_id] = [df.iloc[0]['token_id'], df.iloc[0]['token_balance'], df.iloc[0]['token_url'], df.iloc[0]['supports_erc'], df.iloc[0]['token_price_wei'], df.iloc[0]['token_quote_rate_eth'], df.iloc[0]['original_owner'],df.iloc[0]['external_data'], df.iloc[0]['owner'], df.iloc[0]['owner_address'], df.iloc[0]['burned']]

In [23]:
token_owners

,token_id,token_balance,token_url,supports_erc,token_price_wei,token_quote_rate_eth,original_owner,external_data,owner,owner_address,burned
0,0,1,https://azuki-prereveal.s3-us-west-1.amazonaws...,"[erc20, erc721]",None,None,0xd45058bf25bbd8f586124c479d384c8c708ce23a,"{'name': 'Azuki #0', 'description': None, 'ima...",0xd45058bf25bbd8f586124c479d384c8c708ce23a,0xd45058bf25bbd8f586124c479d384c8c708ce23a,False
1,1,1,https://azuki-prereveal.s3-us-west-1.amazonaws...,"[erc20, erc721]",None,None,0xd45058bf25bbd8f586124c479d384c8c708ce23a,"{'name': 'Azuki #1', 'description': None, 'ima...",0xd45058bf25bbd8f586124c479d384c8c708ce23a,0xd45058bf25bbd8f586124c479d384c8c708ce23a,False
2,2,1,https://azuki-prereveal.s3-us-west-1.amazonaws...,"[erc20, erc721]",None,None,0xd45058bf25bbd8f586124c479d384c8c708ce23a,"{'name': 'Azuki #2', 'description': None, 'ima...",0xd45058bf25bbd8f586124c479d384c8c708ce23a,0xd45058bf25bbd8f586124c479d384c8c708ce23a,False
3,3,1,https://azuki-prereveal.s3-us-west-1.amazonaws...,"[erc20, erc721]",None,None,0xd45058bf25bbd8f586124c479d384c8c708ce23a,"{'name': 'Azuki #3', 'description': None, 'ima...",0x645d2b4bfb047566ff60e2e7112373885935eac4,0x645d2b4bfb047566ff60e2e7112373885935eac4,False
4,4,1,https://azuki-prereveal.s3-us-west-1.amazonaws...,"[erc20, erc721]",None,None,0xd45058bf25bbd8f586124c479d384c8c708ce23a,"{'name': 'Azuki #4', 'description': None, 'ima...",0xd45058bf25bbd8f586124c479d384c8c708ce23a,0xd45058bf25bbd8f586124c479d384c8c708ce23a,False
5,5,1,https://azuki-prereveal.s3-us-west-1.amazonaws...,"[erc20, erc721]",None,None,0xd45058bf25bbd8f586124c479d384c8c708ce23a,"{'name': 'Azuki #5', 'description': None, 'ima...",0x355671aa122887c1b349a84ee79805e22e62f4f9,0x355671aa122887c1b349a84ee79805e22e62f4f9,False
6,6,1,https://azuki-prereveal.s3-us-west-1.amazonaws...,"[erc20, erc721]",None,None,0xd45058bf25bbd8f586124c479d384c8c708ce23a,"{'name': 'Azuki #6', 'description': None, 'ima...",0xd45058bf25bbd8f586124c479d384c8c708ce23a,0xd45058bf25bbd8f586124c479d384c8c708ce23a,False
7,7,1,https://azuki-prereveal.s3-us-west-1.amazonaws...,"[erc20, erc721]",None,None,0xd45058bf25bbd8f586124c479d384c8c708ce23a,"{'name': 'Azuki #7', 'description': None, 'ima...",0xd45058bf25bbd8f586124c479d384c8c708ce23a,0xd45058bf25bbd8f586124c479d384c8c708ce23a,False
8,8,1,https://azuki-prereveal.s3-us-west-1.amazonaws...,"[erc20, erc721]",None,None,0xd45058bf25bbd8f586124c479d384c8c708ce23a,"{'name': 'Azuki #8', 'description': None, 'ima...",0xd45058bf25bbd8f586124c479d384c8c708ce23a,0xd45058bf25bbd8f586124c479d384c8c708ce23a,False
9,9,1,https://azuki-prereveal.s3-us-west-1.amazonaws...,"[erc20, erc721]",None,None,0xd45058bf25bbd8f586124c479d384c8c708ce23a,"{'name': 'Azuki #9', 'description': None, 'ima...",0xd45058bf25bbd8f586124c479d384c8c708ce23a,0xd45058bf25bbd8f586124c479d384c8c708ce23a,False

## Historical data

In [24]:
collection_address = '/0xED5AF388653567Af2F388E6224dC7C4b3241C544'

historical_url = url + chain_id + "/nft_market/collection" + collection_address + api_key # + '&page-size=100&page-number=0'
historical = requests.get(historical_url).json()

historical_df = pd.DataFrame(historical['data']['items'])

historical_df = historical_df.set_index('opening_date')

azuki_vol_df = pd.DataFrame(historical_df, columns = ['volume_quote_day', 'average_volume_quote_day', 'unique_token_ids_sold_count_day'])

volume_eth_day = []
for wei in historical_df['volume_wei_day']:
    eth = int(wei)/100000000000000000
    volume_eth_day.append(eth)
avg_volume_eth_day = []
for wei in historical_df['average_volume_wei_day']:
    eth = int(wei)/100000000000000000
    avg_volume_eth_day.append(eth)
floor_price_eth_7d = []
for wei in historical_df['floor_price_wei_7d']:
    eth = int(wei)/100000000000000000
    floor_price_eth_7d.append(eth)


azuki_vol_df['volume_eth_day'] = volume_eth_day 
azuki_vol_df['avg_volume_eth_day'] = avg_volume_eth_day
azuki_vol_df['floor_price_eth_7d'] = floor_price_eth_7d

azuki_vol_df

,volume_quote_day,average_volume_quote_day,unique_token_ids_sold_count_day,volume_eth_day,avg_volume_eth_day,floor_price_eth_7d
opening_date,,,,,,
2022-04-06,3508797.8,113187.020,27,10477.800000,337.993548,399.328829
2022-04-05,3729874.8,106567.840,34,10681.880000,305.196571,396.006765
2022-04-04,4517060.5,110172.210,40,12880.587900,314.160680,389.024154
2022-04-03,9899117.0,116460.200,64,28465.407206,334.887144,381.498421
2022-04-02,24722180.0,124232.060,193,71202.109900,357.799547,376.416153
...,...,...,...,...,...,...
2022-01-16,295638336.0,188906.300,368,879319.020125,561.865189,198.025069
2022-01-15,4408686.0,8712.817,499,13253.985290,26.193647,112.037484
2022-01-14,168151840.0,115409.630,470,513914.275100,352.720848,119.139672
2022-01-13,25129178.0,15174.624,1318,74858.009615,45.204112,46.092285
2022-01-12,45941404.0,15298.503,2402,139885.946569,46.582067,46.582067

In [26]:
from etherscan_py import etherscan_py
client = etherscan_py.Client(os.getenv('ETHERSCAN_API'))

print(client.get_eth_price())
print(client.get_latest_block_height())

2791.27
14686897

In [43]:
trans_url

'https://api.covalenthq.com/v1/1/nft_market/collection//0xED5AF388653567Af2F388E6224dC7C4b3241C544/?quote-currency=USD&format=JSON&from=2021-11-30&to=2022-04-30&key=ckey_1608fc73607b429aba0ba15f6aa'

In [51]:
print('https://api.covalenthq.com/v1/1/address/0xa79E63e78Eec28741e711f89A672A4C40876Ebf3/transactions_v2/?quote-currency=USD&format=JSON&block-signed-at-asc=false&no-logs=false&page-number=0&page-size=1000&key=ckey_1608fc73607b429aba0ba15f6aa')

https://api.covalenthq.com/v1/1/address/0xa79E63e78Eec28741e711f89A672A4C40876Ebf3/transactions_v2/?quote-currency=USD&format=JSON&block-signed-at-asc=false&no-logs=false&page-number=0&page-size=1000&key=ckey_1608fc73607b429aba0ba15f6aa

In [74]:
# Set varialbles
collection_address = '/0xED5AF388653567Af2F388E6224dC7C4b3241C544'
api_key_1 = '&key=' + API_KEY  

# Quering the API for transaction data
tx_url = url + chain_id + "/address" + collection_address + '/transactions_v2/?quote-currency=USD&format=JSON&block-signed-at-asc=false&no-logs=false&page-number=0&page-size=10000' + api_key_1 
tx = requests.get(tx_url).json()

# Convert transactions data to dataframe
tx_df = pd.DataFrame(tx['data']['items'])

In [76]:
tx_value_df = tx_df[tx_df['value'] != '0' ]
tx_value_df

,block_signed_at,block_height,tx_hash,tx_offset,successful,from_address,from_address_label,to_address,to_address_label,value,value_quote,gas_offered,gas_spent,gas_price,fees_paid,gas_quote,gas_quote_rate,log_events
0,2022-04-30T18:08:24Z,14687068,0x2a69546eb8348e59b671249e0c031ac836851555463d...,69,True,0x58946034a681efe2a5caf9aaf2310b9c9d3529b2,None,0x7f268357a8c2552623316e2562d90e642bb538e5,Wyvern Exchange Contract (-),24880000000000000000,69997.693281,282082,212045,56342310721,11947105276834445,33.612131,2813.412109,"[{'block_signed_at': '2022-04-30T18:08:24Z', '..."
1,2022-04-30T18:04:47Z,14687053,0x748f77ea8b552d46a0cc31301eddf66fda2506b2949d...,7,True,0x9dbd781eeba135ad2a779926880adc89196a3265,None,0x7f268357a8c2552623316e2562d90e642bb538e5,Wyvern Exchange Contract (-),22220000000000000000,62514.017070,262490,194974,51214952652,9985584178371048,28.093563,2813.412109,"[{'block_signed_at': '2022-04-30T18:04:47Z', '..."
9,2022-04-30T16:59:11Z,14686771,0x8eee75e1c25cb9f41dd58fcf25462af3df450ea29331...,139,True,0xe58aa41765829150723d690fa1f1cb3747f9d950,None,0x7f268357a8c2552623316e2562d90e642bb538e5,Wyvern Exchange Contract (-),23800000000000000000,66959.208203,282082,207245,71585136074,14835661525656130,41.738830,2813.412109,"[{'block_signed_at': '2022-04-30T16:59:11Z', '..."
10,2022-04-30T16:45:40Z,14686716,0x94918fc5dfa3b1a6df8c23f32b68e861ceef8d860d91...,39,True,0xc8af8eb1262eea95673393c567c3aebf5a8099cf,None,0x7f268357a8c2552623316e2562d90e642bb538e5,Wyvern Exchange Contract (-),25000000000000000000,70335.302734,282051,212021,91838341617,19471657027977957,54.781796,2813.412109,"[{'block_signed_at': '2022-04-30T16:45:40Z', '..."
22,2022-04-30T15:28:45Z,14686388,0x5b3757c97a170f550f85768f35dc41a7750d3187a163...,298,True,0x11d9e5633f3b403d531a194b2ceb57255a7775bb,None,0x7f268357a8c2552623316e2562d90e642bb538e5,Wyvern Exchange Contract (-),25000000000000000000,70335.302734,282035,212009,75479473910,16002327784185190,45.021143,2813.412109,"[{'block_signed_at': '2022-04-30T15:28:45Z', '..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9982,2022-03-26T05:21:17Z,14459950,0xaced0427216b058375345827f5435a181980dba4bef5...,243,True,0x0e5af446621c2b2b45602c34870d6b10dfb81a43,None,0x7f268357a8c2552623316e2562d90e642bb538e5,Wyvern Exchange Contract (-),18500000000000000000,57909.277222,259790,194897,22851139980,4453618628682060,13.940856,3130.231201,"[{'block_signed_at': '2022-03-26T05:21:17Z', '..."
9985,2022-03-26T05:09:57Z,14459903,0x9476baf6764107b24be6520d396b96992bbe8310b9c5...,3,True,0x3109c5265cdeb23a806a7db74e59f476d7e5fd77,None,0x7f268357a8c2552623316e2562d90e642bb538e5,Wyvern Exchange Contract (-),19000000000000000000,59474.392822,259852,190145,96095472803,18272073676126435,57.195815,3130.231201,"[{'block_signed_at': '2022-03-26T05:09:57Z', '..."
9986,2022-03-26T05:02:47Z,14459878,0x16f6bdaa5ea56940d910ca7a614585040bd23f5d174b...,200,True,0x123432244443b54409430979df8333f9308a6040,None,0x0000000035634b55f3d99b071b5a354f48e10bef,Gem: Single Contract Checkout 2,51590000000000000000,161488.627668,511222,451547,25757769208,11630843412564776,36.407229,3130.231201,"[{'block_signed_at': '2022-03-26T05:02:47Z', '..."
9987,2022-03-26T04:53:35Z,14459835,0x684752f01e73eeb5b806dde3d4ec1065d96a141c90d7...,98,True,0xa153dcfe203509cf292634ac3bcaf5ca1d4cc517,None,0x59728544b08ab483533076417fbbb2fd0b17ce3a,LooksRare: Exchange,18490000000000000000,57877.974910,315892,235210,18260163035,4294972947462350,13.444258,3130.231201,"[{'block_signed_at': '2022-03-26T04:53:35Z', '..."
9997,2022-03-26T04:02:44Z,14459587,0x58870597f84307177d53b46bd214e82b77a613dab3b9...,325,True,0x5bd8eff5967b1f1812fda2d5e5802d28d1cd793c,None,0x7f268357a8c2552623316e2562d90e642bb538e5,Wyvern Exchange Contract (-),17980000000000000000,56281.556997,282035,212009,23864978967,5059590325814703,15.837688,3130.231201,"[{'block_signed_at': '2022-03-26T04:02:44Z', '..."

In [ ]:
trans_df.plot.line(x=, y=None)

In [34]:
25000000000000000000/(10**18)

25.0

In [39]:
trans_df['tx_hash'][1]

'0x8eee75e1c25cb9f41dd58fcf25462af3df450ea2933137c7fe2d858b5f408f19'

str